[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
sqlalchemy = "*"
alembic = "*"
jose = "*"
fastapi-pagination = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
